<div class="container-fluid">
  <div class="col-md-4 text">
    <p>
      <img src="../../../assets/images/home/line.png"> &nbsp; &nbsp;businesses who use our platform
    </p>
  </div>
  <div class="col-md-8">
    <img class="logo" src="../../../assets/images/home/jmmb-logo.png">
    <img class="logo" src="../../../assets/images/home/swizzle-logo.png">
    <img class="logo" src="../../../assets/images/home/sumfest-logo.png">
    <img class="logo" src="../../../assets/images/home/mega-mart.png" alt="Megamart">
    <img class="logo" src="../../../assets/images/home/best-dressed-chicken.png">
  </div>
</div>
