<div class="row">
  <div class="tnr-landing-sub-header">
      <tnr-subheader></tnr-subheader>
  </div>
</div>
<div class="row">
  <div class="tnr-landing-promotion">
    <tnr-promotion></tnr-promotion>
  </div>
</div>
<div class="row">
  <div class="tnr-landing-clients">
    <tnr-clients></tnr-clients>
  </div>
</div>
<div class="row">
  <div class="tnr-landing-try">
    <tnr-try></tnr-try>
  </div>
</div>
<div class="row">
  <div class="tnr-landing-top-spenders">
    <tnr-top-spenders></tnr-top-spenders>
  </div>
</div>
