.tnr-landing-sub-header {
  padding: 20px 30px 20px 30px;
  background-color: #fff;
}
.tnr-landing-promotion {
  height: 284px;
}
.tnr-landing-clients {
  padding-left: 30px;
  padding-right: 30px;
  background-color: #1d1d1d;
}
.tnr-landing-try {
  height: 253px;
}
.tnr-landing-top-spenders {
  height: 250px;
  background-color: #fff;
}
