<div class="container-fluid">
  <div class="try-container">
  <div class="content">
      <p class="header">Do you know your numbers?</p>
      <p class="sub-header">Discover your businesses spend versus your competition on traditional media - instantly compare month to month or day by day.</p>
      <div class="top-spenders col-md-4">Top spenders this month</div>
      <div class="input col-md-3">
        <input type="text" class="form-control" value="October 2016" disabled>
      </div>
      <div class="input col-md-3">
        <input type="text" class="form-control" placeholder="Enter the name of a business to start tracking...">
      </div>
      <div class="input col-md-2">
        <button class="ttf-button">Try for free</button>
      </div>
    </div>
  </div>
</div>
